

.underneath {
    display: block;
    clear: both;
}

#video {
    background-color: black;
    width: 600px;
    max-height: 300px;
}

#kernel {
    display: inline;
    position: absolute;
    width: 300px;
    height: 300px;
}

.kernelInputField {
    height: 19%;
    width: 19%;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}